<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required"
               for="translated-attributes">
            <%= _.__('piotrmus.mass_edit.form.attributes_to_translate') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="translatedAttributes[]" id="translated-attributes" class="select2 label-field AknSettingField"
                multiple="multiple" <% if(translatedAttributes.length > 0){ %> readonly="true"<% } %>>
        <% _.each(attributes, function (attribute){ %>
        <option value="<%= attribute.code %>" <% if(translatedAttributes.includes(attribute.code)){ %>selected="selected"<% } %>><%- i18n.getLabel(attribute.labels, uiLocale, attribute.code) %>
        </option>
        <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="source-channel">
            <%= _.__('piotrmus.mass_edit.form.source_channel') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="sourceChannel" id="source-channel" class="select2 form-field label-field AknSettingField" <% if(translatedAttributes.length > 0){ %> readonly="true"<% } %>>
        <% _.each(channels, function (channel, key){ %>
        <option value="<%= channel.code %>" <% if(channel.code == sourceChannel){ %>selected="selected"<% } %>><%- i18n.getLabel(channel.labels, uiLocale, channel.code) %></option>
        <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="source-locale">
            <%= _.__('piotrmus.mass_edit.form.source_locale') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="sourceLocale" id="source-locale" class="select2 form-field label-field AknSettingField" <% if(translatedAttributes.length > 0){ %> readonly="true"<% } %>>
        <% _.each(locales, function (locale, key){ %>
        <option value="<%= locale.code %>" <% if(locale.code == sourceLocale){ %>selected="selected"<% } %>><%= locale.label %></option>
        <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="target-channel">
            <%= _.__('piotrmus.mass_edit.form.target_channel') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="targetChannel" id="target-channel" class="select2 form-field label-field AknSettingField" <% if(translatedAttributes.length > 0){ %> readonly="true"<% } %>>
        <% _.each(channels, function (channel, key){ %>
        <option value="<%= channel.code %>" <% if(channel.code == targetChannel){ %>selected="selected"<% } %>><%- i18n.getLabel(channel.labels, uiLocale, channel.code) %></option>
        <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="target-locale">
            <%= _.__('piotrmus.mass_edit.form.target_locale') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="targetLocale" id="target-locale" class="select2 form-field label-field AknSettingField" <% if(translatedAttributes.length > 0){ %> readonly="true"<% } %>>
        <% _.each(locales, function (locale, key){ %>
        <option value="<%= locale.code %>" <% if(locale.code == targetLocale){ %>selected="selected"<% } %>><%= locale.label %></option>
        <% }); %>
        </select>
    </div>
</div>