<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required"
               for="translated-attributes">
            <%= _.__('piotrmus.mass_edit.form.attributes_to_translate') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="translatedAttributes[]" id="translated-attributes" class="select2 label-field AknSettingField"
                multiple="multiple">
            <% _.each(attributes, function (attribute){ %>
            <option value="<%= attribute.code %>"><%- i18n.getLabel(attribute.labels, uiLocale, attribute.code) %>
            </option>
            <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="source-channel">
            <%= _.__('piotrmus.mass_edit.form.source_channel') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="sourceChannel" id="source-channel" class="select2 form-field label-field AknSettingField">
            <% _.each(channels, function (channel, key){ %>
            <option value="<%= channel.code %>"><%- i18n.getLabel(channel.labels, uiLocale, channel.code) %></option>
            <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="source-locale">
            <%= _.__('piotrmus.mass_edit.form.source_locale') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="sourceLocale" id="source-locale" class="select2 form-field label-field AknSettingField">
            <% _.each(locales, function (locale, key){ %>
            <option value="<%= locale.code %>"><%= locale.label %></option>
            <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="target-channel">
            <%= _.__('piotrmus.mass_edit.form.target_channel') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="targetChannel" id="target-channel" class="select2 form-field label-field AknSettingField">
            <% _.each(channels, function (channel, key){ %>
            <option value="<%= channel.code %>"><%- i18n.getLabel(channel.labels, uiLocale, channel.code) %></option>
            <% }); %>
        </select>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="target-locale">
            <%= _.__('piotrmus.mass_edit.form.target_locale') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <select name="targetLocale" id="target-locale" class="select2 form-field label-field AknSettingField">
            <% _.each(locales, function (locale, key){ %>
            <option value="<%= locale.code %>"><%= locale.label %></option>
            <% }); %>
        </select>
    </div>
</div>